[submodule "BigLogger"]
	path = BigLogger
	url = https://github.com/BigDistributor/BigLogger.git
[submodule "BigDistributor-GUI"]
	path = BigDistributor-GUI
	url = https://github.com/BigDistributor/BigDistributor-GUI.git
[submodule "BigDistributor-core"]
	path = BigDistributor-core
	url = https://github.com/BigDistributor/BigDistributor-core.git
